{% extends 'Sandbox/Layouts/layout1.html.twig' %}

{%block title %}{{ parent()}} : vue2 {% endblock %}

{%block titre_principal %}Titre principal de la vue2 {% endblock %}

{%block vue %}
    <p> 
        Le paragraphe du template <code>vue3.html.twig</code>
    </p>
{% endblock %}